.CardDisplay:hover {
z-index:10000;
}
.Card:hover {
z-index:10000;
}

.Card{
overflow:auto; position:absolute;top:0em;
height: 252px;
}
.HighlightedCard
{
resize:both;
height: 352px;
    overflow: scroll;
    max-width: 300px;
    max-height: 460px;

}

.OpponentArea
{

}

.PlayerArea
{

}



.PlayerHand
{

}

.PlayerDiscards
{

}

.PlayerSetAsides
{

}

.PlayerDraw
{

}

.PlayerOutOfGame
{

}

.PlayerBattleFieldEnhancment
{

}

.PlayerBattleFieldCharacter
{

}

.PlayerBondage
{

}

.PlayerRedemption
{

}

.PlayerCard
{

}


.OpponentHand
{

}


.OpponentDiscards
{

}

.OpponentSetAsides
{

}

.OpponentDraw
{

}

.OpponentOutOfGame
{

}

.OpponentBattleFieldEnhancment
{

}

.OpponentBattleFieldCharacter
{

}

.OpponentBondage
{

}

.OpponentRedemption
{

}

.OpponentCard
{

}








